img{
  max-width: 100%;
  height: auto;
}

.imagen{
  max-width: 100%;
  height: 400px;
  background-image: url("../imagenes/gatos.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.gradiente{
  width: 700px;
  height: 700px;
  /*background: linear-gradient(to right, pink,purple,blue);*/
  background: linear-gradient(to bottom left, rgba(255,0,0,.1),rgba(255,0,0,1));
}
